.App {
  display: flex;
  flex-direction: column; /* Align items vertically */
  min-height: 100vh;      /* Ensure App takes full viewport height */
  text-align: center;     /* Center text content within the header */
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
}

.main-content {
  display: flex;
  flex: 1; /* Allow main content to take up remaining space */
}

.memo-detail {
  padding: 20px;
  flex: 1; /* Allow memo detail to take up remaining space */
}

.memo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.memo {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.sidebar-item {
  cursor: pointer;
}
